/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: yellowgreen;
}

div.background
{
  width: 100%;
  height: 100%;
  background-color:green;
  background: url(http://95.163.195.25/images/houseType.png) ;
  background-repeat:no-repeat;
  background-size:100% 100%;
  position:absolute;
}

div.transbox
{
  margin: 0px 0px;
  background-color: #ffffff;
  border: 1px solid green;
  opacity:0;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

#buttonDiv {
  margin:100px;
  width:100px;
}

#button {
  background-color: aliceblue;
  width: 100px;
  border: 1px solid #1BC286; 
  padding: 5px; 
  background: #70B88F; 
  color: white; 
  cursor: pointer; 
  border-radius: 5px;
  padding-bottom: 15px
}
